<ion-content class="cnt" padding="false" scroll="false">
	<div id="Mission3">



		<!-- 타이틀 -->
		<div class="tit-wrap">
			<span>{{ misn.curMisn.steps[misn.curStep].title }}</span>
			<div class="btn-wrap">
				<button class="btn-tit-prev" ng-disabled="prevDisabled || processing" ng-click="GoPagePrev();"></button>
				<button class="btn-tit-next" ng-disabled="nextDisabled || processing" ng-click="GoPageNext();"></button>
			</div>
		</div>
		<!-- //타이틀 -->



		<!-- 페이지 0 -->
		<div class="page step step-3" ng-show="misn.curPage === 0">
			<button class="btn-ms-start" ng-click="GoPage(1); PlayAudio('misn.mp3'); map.no = 1;"></button>
		</div>
		<!-- //페이지 0 -->



		<!-- 페이지 1 -->
		<div class="page" ng-show="misn.curPage === 1" ng-hide="misn.curPage !== 1" >
			<div class="pd-25">
				<div class="dialog mb-40">
					<div class="dialog-inner">
						<div class="cn">
							바이러스를 배양하기 위해 ‘무항생제 유정란’을 얻어야하네.<br/>
							그 전에 먼저 바이러스에 감염된 인체 기관을 알아내어 내게 알려주게.
						</div>
					</div>
				</div>
				<div class="brief mb-30">
					<div class="brief-misn">
						<div class="mb-15"><div class="tit">MISSION!</div></div>
						바이러스에 감염된 인체 기관을<br/>찾기 위한 검사를 진행하세요!
					</div>
					<div class="brief-item">
						<div class="mb-15"><div class="tit">ITEM</div></div>
						바이러스가<br/>
						감염된<br/>
						기관 두 곳<br/>
					</div>
					<div class="brief-img">
						<img src="img/img-item-3.png" style="width: 100px; height: 100px;" />
					</div>
				</div>
				<div class="btn-go-next-wrap">
					<button class="btn-go-next btn-confirm-misn" ng-click="GoPage(2); GoStep(1);"></button>
				</div>
				<div class="hint-wrap">
					<button class="btn-hint-lg" ng-class="{blur: hintOpen3_1}" ng-click="hintOpen3_1 = true;" style="right: 25px; bottom: 24px;"></button>
					<span class="hint-cnt-wrap noscroll" ng-show="hintOpen3_1">
						<div class="cnt">
							바이러스 감염 검사가 제1실험실에서 진행되고 있습니다.
						</div>
						<button class="btn-close" ng-click="hintOpen3_1 = false;"></button>
					</span>
				</div>
			</div>
		</div>
		<!-- //페이지 1 -->



		<!-- 페이지 2 -->
		<div class="page text-center" ng-show="misn.curPage === 2" ng-hide="misn.curPage !== 2" style="padding-top: 30px;">

			<div class="txt-xl red b mb-50">인체 모형을 찾으셨나요?</div>

			<p class="para mb-30">
				인체 각 기관 모형에는 디지털 돋보기를 인식하기 위한<br/>
				코드가 부착되어 있습니다.
			</p>

			<p class="para">
				디지털 돋보기를 실행 후, 코드 가까이에 초점을 맞추어<br/>
				자세히 들여다보면 바이러스 감염 여부를 알 수 있습니다.
			</p>

			<div class="btn-go-next-wrap">
				<button class="btn-go-next btn-check-virus" ng-click="GoPage(3)"></button>
			</div>

		</div>
		<!-- //페이지 2 -->



		<!-- 페이지 3 -->
		<div class="page text-center" ng-show="misn.curPage === 3" ng-hide="misn.curPage !== 3" style="padding-top: 30px;">
			<p class="para" style="margin-bottom: 25px;" ng-hide="1">
				CJR 바이러스에 감염된 것으로 예상되는 신체 기관의 모형을 입력하세요.<br/>
				모형 뒷면에 부착되어 있는 코드를  AR 미디어에 인식하세요.
			</p>





			<div class="ar-frame-wrap" style="margin-bottom: 25px;">
				<div class="ar-frame">
					<div class="ar-tit">바이러스 감염 기관 1</div>
					<div class="ar-item" ng-show="misn.misn3Organ.ar.item1" ng-hide="!misn.misn3Organ.ar.item1">
						<img src="img/ar/ar-3-01.png" id="ar31" style="width: 191.5px; height: 147.5px;" />
					</div>
					<a class="btn-reco-2" href="javascript:app.loadARchitectWorld(getWordPath(0, 0));" ng-hide="misn.misn3Organ.ar.item1"></a>
				</div>
				<div class="ar-frame">
					<div class="ar-tit">바이러스 감염 기관 2</div>
					<div class="ar-item" ng-show="misn.misn3Organ.ar.item2" ng-hide="!misn.misn3Organ.ar.item2">
						<img src="img/ar/ar-3-02.png" id="ar32" style="width: 91px; height: 147.5px;" />
					</div>
					<a class="btn-reco-2" href="javascript:app.loadARchitectWorld(getWordPath(0, 0));" ng-hide="misn.misn3Organ.ar.item2"></a>
				</div>
			</div>

			<div class="btn-go-next-wrap" ng-show="misn.misn3Organ.ar.item1 && misn.misn3Organ.ar.item2" >
				<button class="btn-go-next btn-submit-report" ng-click="GoPage(4)"></button>
			</div>


		</div>
		<!-- //페이지 3 -->



		<!-- 페이지 4 -->
		<div class="page text-center" ng-show="misn.curPage === 4" ng-hide="misn.curPage !== 4" style="padding-top: 87.5px;">
			<div class="mb-30">
				<img src="img/icon-msg-check.png" style="width: 78px; height: 60.5px;" />
			</div>
			<div class="mb-70 txt-xl green b">
				검사 결과가 전송되었습니다.
			</div>
			<button class="btn-confirm" ng-click="GoGetInvenItem(0, 5, 6, 243, -68);"></button>
		</div>
		<!-- //페이지 4 -->



		<!-- 페이지 5 -->
		<div class="page text-center" ng-show="misn.curPage === 5" ng-hide="misn.curPage !== 5" style="padding-top: 25px;">

			<div class="mb-15">
				<img src="img/icon-msg-sm.png" style="width: 64.5px; height: 51px;" />
			</div>
			<p class="para mb-15" ng-hide="processing">
				<br/>
				<br/>
			</p>
			<p class="para mb-15" ng-show="processing">
				바이러스 배양을 위한 무항생제 유정란이<br/>
				도착했습니다.<br/>
			</p>
			<div class="mb-15">
				<div class="inven-frame-wrap">
					<div class="inven-item-progress" ng-show="processing">
						<span class="circle">
							<svg viewBox="0 0 32 32"><circle r="16" cx="16" cy="16"  stroke-dasharray="{{ invenItemCurPer }} 100"></circle></svg>
						</span>
					</div>
					<div class="inven-item-wrap" ng-hide="processing">
						<img src="img/inven/item-3.png" class="inven-item" style="width: 157.5px; height: 157.5px;" />
					</div>
					<div class="inven-item-success-wrap">
						SUCCESS
					</div>
				</div>
			</div>
			<div class="inven-item-result-wrap" ng-show="processing">
				{{invenItemCurPerResult}}%
			</div>
		</div>
		<!-- //페이지 5 -->


		<!-- 페이지 6 -->
		<div class="page text-center" ng-show="misn.curPage === 6" ng-hide="misn.curPage !== 6" style="padding-top: 97px;">
			<p class="para mb-15">
				미션을 완료했습니다!<br/>
				아래의 보관함에서 아직 획득하지 못한 물질을 터치하여 미션을 완료해주세요.
			</p>
			<div class="inven-frame-wrap">
				<div class="inven-item-success-wrap" style="display: block">
					SUCCESS
				</div>
			</div>
		</div>
		<!-- //페이지 6 -->



	</div>
</ion-content>