<ion-content class="cnt" padding="false" scroll="true">
	<div id="Mission5">



		<!-- 타이틀 -->
		<div class="tit-wrap">
			<span>{{ misn.curMisn.steps[misn.curStep].title }}</span>
			<div class="btn-wrap">
				<button class="btn-tit-prev" ng-disabled="prevDisabled || processing" ng-click="GoPagePrev();"></button>
				<button class="btn-tit-next" ng-disabled="nextDisabled || processing" ng-click="GoPageNext();"></button>
			</div>
		</div>
		<!-- //타이틀 -->



		<!-- 페이지 0 -->
		<div class="page step step-5" ng-show="misn.curPage === 0">
			<button class="btn-ms-start" ng-click="GoPage(1);"></button>
		</div>
		<!-- //페이지 0 -->




		<!-- 페이지 1 -->
		<div class="page" ng-show="misn.curPage === 1" ng-hide="misn.curPage !== 1" >
			<div class="pd-25">
				<div class="dialog mb-40">
					<div class="dialog-inner">
						<div class="cn">
							임상시험에 앞서 시약병을 찾아내야 하네.<br/>
							시약병을 찾기 위해서는 자네들의 기본 지식이 필요하네.<br/>
							임무를 수행하면 시약병의 위치와 비밀번호를 받을 수 있을걸세. 서두르게!
						</div>
					</div>
				</div>
				<div class="brief mb-30">
					<div class="brief-misn">
						<div class="mb-15"><div class="tit">MISSION!</div></div>
						바이러스와 박테리아에 대한 문제의 정답을 맞추고<br/>
						시약병이 들어 있는 금고의 비밀번호를 얻어<br/>
						시약병을 획득하세요!
					</div>
					<div class="brief-item">
						<div class="mb-15"><div class="tit">ITEM</div></div>
						비밀번호<br/>
						시약병
					</div>
					<div class="brief-img">
						<img src="img/img-item-5.png" style="width: 100px; height: 100px;" />
					</div>
				</div>
				<div class="btn-go-next-wrap">
					<button class="btn-go-next btn-confirm-misn" ng-click="GoPage(2); GoStep(1);"></button>
				</div>
				<div class="hint-wrap">
					<button class="btn-hint-lg" ng-class="{blur: hintOpen5_1}" ng-click="hintOpen5_1 = true;" style="right: 25px; bottom: 24px;"></button>
					<span class="hint-cnt-wrap" ng-show="hintOpen5_1">
						<div class="cnt">
							최속청 연구원은 주로 1층 연구소에 자주 출몰합니다.<br/>
							ID 카드를 확인해보세요.
						</div>
						<button class="btn-close" ng-click="hintOpen5_1 = false;"></button>
					</span>
				</div>
			</div>
		</div>
		<!-- //페이지 1 -->



		<!-- 페이지 2 -->
		<div class="page text-center" ng-show="misn.curPage === 2" style="padding-top: 150px;">
			<p class="txt-lg">
				고촌 연구소 교육관으로 이동하여<br/>
				장 듀비에 연구원의 지시에 따르세요.
			</p>
			<div class="btn-go-next-wrap">
				<button class="btn-go-next btn-confirm" ng-click="GoPage(3);"></button>
			</div>
			<div class="hint-wrap">
				<button class="btn-hint-lg" ng-class="{blur: hintOpen5_2}" ng-click="hintOpen5_2 = true;" style="right: 25px; bottom: 24px;"></button>
				<span class="hint-cnt-wrap" ng-show="hintOpen5_2">
					<div class="cnt">
						최속청 연구원은 주로 1층 연구소에 자주 출몰합니다.<br/>
						ID 카드를 확인해보세요.
					</div>
					<button class="btn-close" ng-click="hintOpen5_2 = false;"></button>
				</span>
			</div>
		</div>
		<!-- //페이지 2 -->



		<!-- 페이지 3 -->
		<div class="page text-center" ng-show="misn.curPage === 3">
			<p class="txt-xl red b mt-20 mb-60">장 듀비에 연구원을 만나셨습니까?</p>
			<p class="para mb-40">
				바이러스와 박테리아에 관련된 설명의 빈칸을 모두 채우면<br/>
				비밀번호를 획득할 수 있습니다.
			</p>
			<div class="mb-45">
				<div class="alert text-left">
					현미경을 자세히 들여다 보면 정답이 보입니다.<br/>
					디지털 현미경은 팀원마다 10초씩 돌아가며 볼 수 있으니,<br/>
					팀워크가 무엇보다 중요합니다!
				</div>
			</div>

			<div class="btn-go-next-wrap">
				<button class="btn-go-next btn-go-quiz" ng-click="GoPage(4);"></button>
			</div>
		</div>
		<!-- //페이지 3 -->



		<!-- 페이지 4 -->
		<div class="page" ng-show="misn.curPage === 4" style="padding-top:26px;">
			<div class="mb-20 ml-30" style="font-size: 25px;">바이러스와 박테리아</div>
			<div class="quiz-outer">
				<div class="quiz-wrap">
					<form role="form" method="get" name="misn5QuizForm" ng-submit="misn.misn5Quiz.Check();" novalidate>
						<input type="text" class="input-text input1" ng-model="misn.misn5Quiz.input1" style="" placeholder="V1" required>
						<input type="text" class="input-text input2" ng-model="misn.misn5Quiz.input2" style="" placeholder="V2" required>
						<input type="text" class="input-text input3" ng-model="misn.misn5Quiz.input3" style="" placeholder="V3" required>
						<input type="text" class="input-text input4" ng-model="misn.misn5Quiz.input4" style="" placeholder="V4" required>
						<input type="text" class="input-text input5" ng-model="misn.misn5Quiz.input5" style="" placeholder="V5" required>
						<input type="text" class="input-text input6" ng-model="misn.misn5Quiz.input6" style="" placeholder="V6" required>
						<input type="text" class="input-text input7" ng-model="misn.misn5Quiz.input7" style="" placeholder="V7" required>
						<button class="btn-check-answer" type="submit" ng-disabled="misn5QuizForm.$invalid" style="position: absolute; bottom: 32px; left: 50%; margin-left: -87.5px;"></button>
					</form>
				</div>
			</div>
			<script>
				$(".quiz-outer").mCustomScrollbar({
					axis:"y",
					theme:"light-3",
					scrollInertia: 300,
					alwaysShowScrollbar: 2,
					autoHideScrollbar: false,
					contentTouchScroll: 25,
					documentTouchScroll: true
				});
			</script>
		</div>
		<!-- //페이지 4 -->



		<!-- 페이지 5 -->
		<div class="page text-center" ng-show="misn.curPage === 5">
			<p class="txt-xl red b mt-20 mb-50">시약병이 든 금고의 비밀번호</p>
			<div class="mb-50">
				<span class="pw">{{ misn.misn5Quiz.pw[teamInfo.ctrlNo][0] }}</span>
				<span class="pw">{{ misn.misn5Quiz.pw[teamInfo.ctrlNo][1] }}</span>
				<span class="pw">{{ misn.misn5Quiz.pw[teamInfo.ctrlNo][2] }}</span>
				<span class="pw">{{ misn.misn5Quiz.pw[teamInfo.ctrlNo][3] }}</span>
			</div>
			<p class="para">
				연구소 곳곳에 숨겨져 있는 10개의 금고 중,<br/>
				비밀번호가 맞는 금고를 찾아 시약병을 획득하세요.
			</p>
			<div class="btn-go-next-wrap">
				<button class="btn-go-next btn-misn5-complete" ng-click="GoPage(6);"></button>
			</div>
			<div class="hint-wrap">
				<button class="btn-hint-lg" ng-class="{blur: hintOpen5_3}" ng-click="hintOpen5_3 = true;" style="right: 25px; bottom: 24px;"></button>
				<span class="hint-cnt-wrap" ng-show="hintOpen5_3">
					<div class="cnt">
						최속청 연구원은 주로 1층 연구소에 자주 출몰합니다.<br/>
						ID 카드를 확인해보세요.
					</div>
					<button class="btn-close" ng-click="hintOpen5_3 = false;"></button>
				</span>
			</div>
		</div>
		<!-- //페이지 5 -->


		<!-- 페이지 6 -->
		<div class="page text-center" ng-show="misn.curPage === 6" ng-hide="misn.curPage !== 6">
			<p class="txt-xl red b mt-20 mb-60">시약병을 획득했습니까?</p>
			<p class="txt-lg mb-35">
				김펜잘 연구원을 찾아 시약병을 보여주고<br/>
				코드를 획득하면 임무가 완수됩니다.
			</p>

			<form role="form" method="get" name="misn5CodeForm" ng-submit="misn.misn5Quiz.CheckCode();" novalidate>
				<input type="text" class="input-text lg" ng-model="misn.misn5Quiz.code" required>
				<div class="btn-go-next-wrap">
					<button class="btn-go-next btn-confirm" ng-disabled="misn5CodeForm.$invalid"></button>
				</div>
			</form>


			<div class="hint-wrap">
				<button class="btn-hint-lg" ng-class="{blur: hintOpen5_3}" ng-click="hintOpen5_3 = true;" style="right: 25px; bottom: 24px;"></button>
				<span class="hint-cnt-wrap" ng-show="hintOpen5_3">
					<div class="cnt">
						최속청 연구원은 주로 1층 연구소에 자주 출몰합니다.<br/>
						ID 카드를 확인해보세요.
					</div>
					<button class="btn-close" ng-click="hintOpen5_3 = false;"></button>
				</span>
			</div>
		</div>
		<!-- //페이지 6 -->



		<!-- 페이지 7 -->
		<div class="page text-center" ng-show="misn.curPage === 7" style="padding-top: 25px;">
			<div class="mb-15">
				<img src="img/icon-msg-sm.png" style="width: 64.5px; height: 51px;" />
			</div>
			<p class="para mb-15" ng-hide="processing">
				<br/>
				<br/>
			</p>
			<p class="para mb-15" ng-show="processing">
				시약병을 보관함에 저장하고 있습니다.<br/><br/>
			</p>
			<div class="mb-15">
				<div class="inven-frame-wrap">
					<div class="inven-item-progress" ng-show="processing">
						<span class="circle">
							<svg viewBox="0 0 32 32"><circle r="16" cx="16" cy="16"  stroke-dasharray="{{ invenItemCurPer }} 100"></circle></svg>
						</span>
					</div>
					<div class="inven-item-wrap" ng-hide="processing">
						<img src="img/inven/item-5.png" class="inven-item" style="width: 157.5px; height: 157.5px;" />
					</div>
					<div class="inven-item-success-wrap">
						SUCCESS
					</div>
				</div>
			</div>
			<div class="inven-item-result-wrap" ng-show="processing">
				{{invenItemCurPerResult}}%
			</div>
		</div>
		<!-- //페이지 7 -->


		<!-- 페이지 8 -->
		<div class="page text-center" ng-show="misn.curPage === 8" ng-hide="misn.curPage !== 8" style="padding-top: 45px;">
			<p class="para mb-15">
				임무를 완수했습니다!<br/>
				아래의 보관함에서 아직 획득하지 못한 물질을 터치하여 나머지 임무를 완수해주세요.
			</p>
			<div class="mb-15">
				<div class="alert">
					시약병은 마지막 미션을 위한 중요한 아이템이니 반드시 소지하세요
				</div>
			</div>
			<div class="inven-frame-wrap">
				<div class="inven-item-success-wrap" style="display: block">
					SUCCESS
				</div>
			</div>
		</div>
		<!-- //페이지 8 -->



	</div>
</ion-content>