<ion-content class="cnt" padding="false" scroll="true" ng-init="misn.misn4Quiz.LoadQuiz()">
	<div id="Mission4">



		<!-- 타이틀 -->
		<div class="tit-wrap">
			<span>{{ misn.curMisn.steps[misn.curStep].title }}</span>
		</div>
		<!-- //타이틀 -->



		<!-- 페이지 0 -->
		<div class="page step step-4" ng-show="misn.curPage === 0">
			<button class="btn-ms-start" ng-click="GoPage(1); GoStep(1);"></button>
		</div>
		<!-- //페이지 0 -->



		<!-- 페이지 1 -->
		<div class="page text-center" ng-show="misn.curPage === 1" style="padding-top:121px;">
			<p class="para mb-60">
				‘희석 비율표’를 획득하기 위해서<br/>
				고촌연구소의 연구원임을 증명해야 합니다.<br/>
				고촌연구소와 관련한 퀴즈를 맞춰 신분을 증명하세요.
			</p>
			<button class="btn-confirm" ng-click="GoPage(2);"></button>
		</div>
		<!-- //페이지 1 -->



		<!-- 페이지 2 -->
		<div class="page text-center" ng-show="misn.curPage === 2">
			<div ng-show="!misn.misn4Quiz.isAnswering" ng-hide="misn.misn4Quiz.isAnswering">
				<div class="q-tit">첫 번째 문제가 도착했습니다</div>
				<p class="para mb-30">
					연구소 곳곳에 아래의 이미지와 같은 코드가 숨겨져 있습니다.<br/>
					코드를 찾아 AR 미디어에 인식하면 문제를 획득할 수 있습니다.
				</p>
				<div class="mb-35">
					<img src="img/ar/{{ misn.misn4Quiz.quizList[misn.misn4Quiz.noList[0]].img }}" class="inven-item" style="width: 125px; height: 125px;" />
				</div>
				<div class="hint-wrap">
					<button class="btn-hint" ng-class="{blur: hintOpen41}" ng-click="hintOpen41 = true;" style="position: absolute; left: 484px; top: 222px;"></button>
					<span class="hint-cnt-wrap" ng-show="hintOpen41">
						<div class="cnt">
							{{ misn.misn4Quiz.quizList[misn.misn4Quiz.noList[0]].hint }}
						</div>
						<button class="btn-close" ng-click="hintOpen41 = false;"></button>
					</span>
				</div>
				<a class="btn-reco" href="javascript:app.loadARchitectWorld(getWordPath(0, 1));" ></a>
			</div>
			<div ng-show="misn.misn4Quiz.isAnswering" ng-hide="!misn.misn4Quiz.isAnswering">
				<div class="quiz">
					<div class="text-center">
						<p class="para">
							문제의 빈칸에 들어갈 정답을 찾아 입력하세요.<br/>
							모든 문제의 정답은 코드 근처에서 찾을 수 있습니다.<br/>
							주위를 잘 살펴보세요.
						</p>
					</div>
					<div class="quiz-wrap">
						<span class="quiz-no">Quiz 1</span>
						<span class="quiz-cn" ng-bind-html="misn.misn4Quiz.quizList[misn.misn4Quiz.noList[0]].tit"></span>
						<input type="text" class="input-text lg" ng-model="misn.misn4Quiz.input[0]" placeholder="정답을 입력해주세요" required>
						<button class="btn-confirm" ng-click="misn.misn4Quiz.CheckQuiz(0, 3);" style="position: absolute; top: 135px; left: 343px;"></button>
					</div>
				</div>
			</div>
		</div>
		<!-- //페이지 2 -->



		<!-- 페이지 3 -->
		<div class="page text-center" ng-show="misn.curPage === 3">
			<div ng-show="!misn.misn4Quiz.isAnswering" ng-hide="misn.misn4Quiz.isAnswering">
				<div class="q-tit">두 번째 문제가 도착했습니다</div>
				<p class="para mb-30">
					연구소 곳곳에 아래의 이미지와 같은 코드가 숨겨져 있습니다.<br/>
					코드를 찾아 AR 미디어에 인식하면 문제를 획득할 수 있습니다.
				</p>
				<div class="mb-35">
					<img src="img/ar/{{ misn.misn4Quiz.quizList[misn.misn4Quiz.noList[1]].img }}" class="inven-item" style="width: 125px; height: 125px;" />
				</div>
				<div class="hint-wrap">
					<button class="btn-hint" ng-class="{blur: hintOpen42}" ng-click="hintOpen42 = true;" style="position: absolute; left: 484px; top: 222px;"></button>
					<span class="hint-cnt-wrap" ng-show="hintOpen42">
						<div class="cnt">
							{{ misn.misn4Quiz.quizList[misn.misn4Quiz.noList[1]].hint }}
						</div>
						<button class="btn-close" ng-click="hintOpen42 = false;"></button>
					</span>
				</div>
				<a class="btn-reco" href="javascript:app.loadARchitectWorld(getWordPath(0, 1));" ></a>
			</div>
			<div ng-show="misn.misn4Quiz.isAnswering" ng-hide="!misn.misn4Quiz.isAnswering">
				<div class="quiz">
					<div class="text-center">
						<p class="para">
							문제의 빈칸에 들어갈 정답을 찾아 입력하세요.<br/>
							모든 문제의 정답은 코드 근처에서 찾을 수 있습니다.<br/>
							주위를 잘 살펴보세요.
						</p>
					</div>
					<div class="quiz-wrap">
						<span class="quiz-no">Quiz 2</span>
						<span class="quiz-cn" ng-bind-html="misn.misn4Quiz.quizList[misn.misn4Quiz.noList[1]].tit"></span>
						<input type="text" class="input-text lg" ng-model="misn.misn4Quiz.input[1]" placeholder="정답을 입력해주세요" required>
						<button class="btn-confirm" ng-click="misn.misn4Quiz.CheckQuiz(1, 4);" style="position: absolute; top: 135px; left: 343px;"></button>
					</div>
				</div>
			</div>
		</div>
		<!-- //페이지 3 -->



		<!-- 페이지 4 -->
		<div class="page text-center" ng-show="misn.curPage === 4">
			<div ng-show="!misn.misn4Quiz.isAnswering" ng-hide="misn.misn4Quiz.isAnswering">
				<div class="q-tit">세 번째 문제가 도착했습니다</div>
				<p class="para mb-30">
					연구소 곳곳에 아래의 이미지와 같은 코드가 숨겨져 있습니다.<br/>
					코드를 찾아 AR 미디어에 인식하면 문제를 획득할 수 있습니다.
				</p>
				<div class="mb-35">
					<img src="img/ar/{{ misn.misn4Quiz.quizList[misn.misn4Quiz.noList[2]].img }}" class="inven-item" style="width: 125px; height: 125px;" />
				</div>
				<div class="hint-wrap">
					<button class="btn-hint" ng-class="{blur: hintOpen43}" ng-click="hintOpen43 = true;" style="position: absolute; left: 484px; top: 222px;"></button>
					<span class="hint-cnt-wrap" ng-show="hintOpen43">
						<div class="cnt">
							{{ misn.misn4Quiz.quizList[misn.misn4Quiz.noList[2]].hint }}
						</div>
						<button class="btn-close" ng-click="hintOpen43 = false;"></button>
					</span>
				</div>
				<a class="btn-reco" href="javascript:app.loadARchitectWorld(getWordPath(0, 1));" ></a>
			</div>
			<div ng-show="misn.misn4Quiz.isAnswering" ng-hide="!misn.misn4Quiz.isAnswering">
				<div class="quiz">
					<div class="text-center">
						<p class="para">
							문제의 빈칸에 들어갈 정답을 찾아 입력하세요.<br/>
							모든 문제의 정답은 코드 근처에서 찾을 수 있습니다.<br/>
							주위를 잘 살펴보세요.
						</p>
					</div>
					<div class="quiz-wrap">
						<span class="quiz-no">Quiz 3</span>
						<span class="quiz-cn" ng-bind-html="misn.misn4Quiz.quizList[misn.misn4Quiz.noList[2]].tit"></span>
						<input type="text" class="input-text lg" ng-model="misn.misn4Quiz.input[2]" placeholder="정답을 입력해주세요" required>
						<button class="btn-confirm" ng-click="misn.misn4Quiz.CheckQuiz(2, 5);" style="position: absolute; top: 135px; left: 343px;"></button>
					</div>
				</div>
			</div>
		</div>
		<!-- //페이지 4 -->





		<!-- 페이지 5 -->
		<div class="page text-center" ng-show="misn.curPage === 5" style="padding-top: 20px;">
			<p class="para mb-30">
				모든 문제를 해결하여 고촌연구소 원구원임을 증명했습니다.<br/>
				희석 비율표 인쇄를 위한 코드를 획득하였습니다.<br/>
				중앙 연구실로 이동하여 희석 비율표를 인쇄하세요.<br/>
				중앙 연구실의 위치는 지도에서 확인할 수 있습니다.
			</p>
			<p class="para mb-30">
				<span class="red italic">“중앙 연구실 컴퓨터에 코드를 전송하여 희석 비율표를 인쇄하세요.”</span>
			</p>
			<div class="mb-50">
				<div class="id-code">
					{{ misn.misn4Quiz.codeList[teamInfo.ctrlNo - 1].code }}
				</div>
			</div>
			<div>
				<button class="btn-submit" ng-click="misn.misn4Quiz.GoPrint();"></button>
			</div>
		</div>
		<!-- //페이지 5 -->



		<!-- 페이지 6 -->
		<div class="page text-center" ng-show="misn.curPage === 6" style="padding-top: 42px;">
			<p class="para mb-30" ng-hide="processing">
				‘희석 비율표’를 획득하셨습니다.<br/>
				연구소 보관함에 ‘희석 비율표’를 보관하시겠습니까?
				<br/>
			</p>
			<p class="para mb-30" ng-show="processing">
				희석 비율표를 저장하고 있습니다.<br/><br/>
			</p>
			<div class="mb-30">
				<div class="inven-frame-wrap">
					<div class="inven-item-progress" ng-show="processing">
						<span class="circle">
							<svg viewBox="0 0 32 32"><circle r="16" cx="16" cy="16"  stroke-dasharray="{{ invenItemCurPer }} 100"></circle></svg>
						</span>
					</div>
					<div class="inven-item-wrap" ng-hide="processing">
						<img src="img/inven/item-4.png" class="inven-item" style="width: 157.5px; height: 157.5px;" />
					</div>
					<div class="inven-item-success-wrap">
						SUCCESS
					</div>
				</div>
			</div>
			<div class="inven-item-result-wrap" ng-show="processing">
				{{invenItemCurPerResult}}%
			</div>
			<div ng-hide="processing">
				<button class="btn-save" ng-click="GetInvenItem(3, 7, 289, 60);"></button>
			</div>
		</div>
		<!-- //페이지 6 -->


		<!-- 페이지 7 -->
		<div class="page text-center" ng-show="misn.curPage === 7" style="padding-top: 42px;">
			<p class="para mb-30">
				‘희석 비율표’가 연구소 보관함에 저장되었습니다.<br/>
				<span class="green b">‘당신의 신분을 증명하시오’</span> 미션을 성공적으로 완료하였습니다.
			</p>
			<div class="mb-40">
				<div class="inven-frame-wrap">
					<div class="inven-item-success-wrap" style="display: block">
						SUCCESS
					</div>
				</div>
			</div>
		</div>
		<!-- //페이지 7 -->



	</div>
</ion-content>