@import 'global';

/*
 * Modal
*/
.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 45px;
	background: url("../img/bg-trans-black.png") repeat center center;

	// Modal Wrap
	.modal-wrap {
		position: relative;
		width: 100%;
		height: 100%;
		border: 1px solid $color-white;
		background: url("../img/bg-modal.png") repeat center center;
		background-size: 934px 680px;

		// Modal Header
		.modal-header {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 42px;
			background: url("../img/bg-modal-header.png") repeat center center;
			background-size: 932px 42px;

			.tit {
				padding-left: 18px;
				opacity: 0.8;

				line-height: 42px;
				.en {
					font-family: $font-stack-kelson_sansbold;
					font-size: $font-size-en-ml;
				}
				.ko {
					margin-left: 10px;
				}
			}

			.btn-close {
				position: absolute;
				top: 5px;
				right: 5px;
			}
		}

		// Modal Content
		.modal-content {
			position: absolute;
			top: 42px;
			left: 0;
			width: 100%;
			height: 636px;
			padding: 34px 66px;


			// 지도
			.map {
				width: 800px;
				height: 378px;
				display: block;
				position: relative;

				// 지도 스팟
				.map-spot {
					position: absolute;
					display: inline-block;
					text-align: center;
					background: url("../img/bg-map-spot.png") repeat center center;

					// 지도 영역 제목
					.tit {
						position: relative;
						display: inline-block;
						font-size: $font-size-ko-s;
						font-weight: 700;
						color: $color-green;
						line-height: $font-size-ko-s;
						background: $color-black;
						padding: 0 1px;
					}
				}

				.map-spot.map-circle {
					@include border-radius(100%);
				}

				.map-spot.active {
					border: 2px solid $color-red;
					background: url("../img/bg-map-spot-active.png") repeat center center;
					-webkit-animation: mapActive 2s ease-out;
					-webkit-animation-iteration-count: infinite;
				}

				@-webkit-keyframes mapActive
				{
					0%   { background: url("../img/bg-map-spot-active.png") repeat center center;}
					50%   { background: url("../img/bg-map-spot.png") repeat center center; }
					100%   { background: url("../img/bg-map-spot-active.png") repeat center center;}
				}

				.map-spot-1-1 {
					top: 165px;
					left: 54px;
					width: 174px;
					height: 174px;

					.tit { top: 97px; }
				}

				.map-spot-1-2 {
					top: 127px;
					left: 280px;
					width: 30px;
					height: 50px;

					.tit { top: 12px; left: -9px; width: 52px; }
				}

				.map-spot-1-3 {
					top: 305px;
					left: 282px;
					width: 56px;
					height: 50px;

					.tit { top: 14px; }
				}

				.map-spot-1-4 {
					top: 127px;
					left: 342px;
					width: 125px;
					height: 130px;

					.tit { top: 75px; }
				}

				.map-spot-1-5 {
					top: 150px;
					left: 598px;
					width: 194px;
					height: 208px;

					.tit { top: 38px; }
				}

				.map-spot-1-6 {
					top: 17px;
					left: 672px;
					width: 120px;
					height: 126px;

					.tit { top: 44px; }
				}

				.map-spot-1-7 {
					position: absolute;
					top: 3px;
					left: 278px;
					width: 510px;
					height: 332px;
					background: url("../img/bg-map-cab.png") no-repeat center center;
					background-size: cover;
					display: none;


				}

				.map-spot-1-7.active {
					display: block;
					-webkit-animation: pulsate 2s ease-out !important;
					-webkit-animation-iteration-count: infinite !important;
					opacity: 0.0;
					border: none;
					background: url("../img/bg-map-cab.png") no-repeat center center !important;
					background-size: cover !important;
				}

				@-webkit-keyframes pulsate {
					0% { opacity: 0.0;}
					50% {opacity: 1.0;}
					100% { opacity: 0.0;}
				}

				.map-spot-2-1 {
					top: 8px;
					left: 8px;
					width: 130px;
					height: 130px;

					.tit { top: 50px; }
				}

				.map-spot-2-2 {
					top: 140px;
					left: 280px;
					width: 252.5px;
					height: 214px;
					@include border-radius(100%);

					.tit { top: 50px; left: 50px; }
				}
			}
			.map.map-f1 {
				background: url("../img/bg-map-f1.png") repeat top center;
				background-size: 800px 371px;
			}

			.map.map-f2 {
				background: url("../img/bg-map-f2.png") repeat top center;
				background-size: 800px 378px;
			}


			.keymap {


				.keymap-term {
					margin-top: 14px;
					font-family: $font-stack-kelson_sansbold;
					font-size: $font-size-ko-xs;
					color: $color-red;
					position: relative;
					opacity: 0.5;

					.term-1 {
						position: absolute;
						left: 0;
					}

					.term-2 {
						position: absolute;
						left: 164px;
					}

					.term-3 {
						position: absolute;
						left: 723px;
					}
				}

				.keymap-misn {
					position: absolute;
					top: 100px;

					.misn {
						width: 100%;
						height: 70px;
						margin-bottom: 15px;
						position: relative;

						.misn-tit {
							position: absolute;
							left: 0;
							width: 150px;
							color: $color-green;

							.no {
								font-size: $font-size-en-l;
								margin-bottom: 8px;
								padding-bottom: 7px;
								background: url("../img/bg-keymap-tit.png") no-repeat left bottom;
								background-size: 35px 1px;
							}
							.tit {
								font-weight: 700;
								font-size: $font-size-ko-s;
								line-height: $font-size-ko-s + 2;
							}
						}

						.step {
							position: absolute;
							left: 162px;
							font-size: $font-size-ko-r;
							color: $color-green;
							width: 535px;
							display: table;

							.step-item {
								display: table-cell;
								padding-right: 5px;



								.step-item-inner {
									border: 1px solid $color-green;
									height: 70px;
									display: block;
									padding: 10px 9px;
									position: relative;

									.step-no {
										font-family: $font-stack-kelson_sansbold;
										color: $color-green;
										opacity: 0.5;
										font-size: $font-size-en-r;
									}

									.step-tit {
										position: absolute;
										left: 70px;
										top: 10px;
									}
								}
							}
							.step-item.step-item-1 {
								width: 100%;
							}
							.step-item.step-item-2 {
								width: 50%;
							}
							.step-item.step-item-3 {
								width: 33.333333%;
							}
							.step-item.step-item-4 {
								width: 25%;
							}
							.step-item.step-item-5 {
								width: 20%;
							}
							.step-item:last-child {
								margin-right: 0;
							}
							.step-item.completed {

								.step-item-inner {
									border-color: transparent;
									background: url("../img/bg-keymap-completed.png") repeat left bottom;
								}

							}
						}

						.inven {

							position: absolute;
							left: 724px;

							.inven-tit {
								width: 110px;
								height: 70px;
								display: block;
								color: $color-red;
								font-size: $font-size-ko-s + 1;
								line-height: $font-size-en-r;
								font-weight: 700;
								border: 1px solid $color-red;
								padding: 12px 7px;
							}
						}

						.inven.completed {
							.inven-tit {
								background: url("../img/bg-map-spot-active.png") repeat center center;
							}

						}

						.inven-1 {
							background: url("../img/inven/keymap-item-1.png") no-repeat center center;
							background-size: 55px 56px;
						}
						.inven-2 {
							background: url("../img/inven/keymap-item-2.png") no-repeat center center;
							background-size: 61.5px 27.5px;
						}
						.inven-3 {
							background: url("../img/inven/keymap-item-3.png") no-repeat center center;
							background-size: 50px 35px;
						}
						.inven-4 {
							background: url("../img/inven/keymap-item-4.png") no-repeat center center;
							background-size: 55px 27px;
						}
						.inven-5 {
							background: url("../img/inven/keymap-item-5.png") no-repeat center center;
							background-size: 22px 48px;
						}
						.inven-6 {
							background: url("../img/inven/keymap-item-6.png") no-repeat center center;
							background-size: 72px 45.5px;
						}

					}
				}
			}
		}
	}

}